/*-- scss:defaults --*/
$headingFontWeight: normal;
/*--
$heading1Size: 3.0em;
$heading2Size: 1.55em;
$heading3Size: 1.11em;
$heading4Size: 0.85em; --*/

$presentation-h1-font-size:	2.5em;
$presentation-h2-font-size:	1.6em;
$presentation-h3-font-size:	1.4em;
$presentation-h4-font-size:	1.2em;
$presentation-font-size-root: 32px;	